# Google / Gemini
GOOGLE_API_KEY=AIzaSyCY50WsdNyBV_MbpyFtUUysrKN-bbCu3HQ

# Backend API URL
BACKEND_URL=http://localhost:8000

LIVEKIT_API_KEY=APINM8vTXR3kL9H
LIVEKIT_API_SECRET=7OkxTGfcyZzhcskG8ui0U4jhBUaLlje4Hos0ru04eICA
LIVEKIT_URL=wss://aws-hackathon-s8dcrb1w.livekit.cloud