# Google / Gemini
GOOGLE_API_KEY=***REMOVED***

# Backend API URL
BACKEND_URL=http://localhost:8000

LIVEKIT_API_KEY=***REMOVED***
LIVEKIT_API_SECRET=***REMOVED***
LIVEKIT_URL=wss://aws-hackathon-s8dcrb1w.livekit.cloud